save-exact=true
auto-install-peers=true
strict-peer-dependencies=true
side-effects-cache=false

public-hoist-pattern[]=@tanstack/react-query
public-hoist-pattern[]=next
public-hoist-pattern[]=secure-password
public-hoist-pattern[]=*jest*
public-hoist-pattern[]=@testing-library/*
# Needed for Blitz to work properly. Don't remove the lines above.
